# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Large raw data files
data/raw/
data/external/
*.7z
*.xml

